body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  nav button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
  }
  
  nav button:hover {
    background-color: #0056b3;
    color: white;
  }

  main{
    flex : 1;
  }
  
  #task-list {
    padding: 20px;
    margin-top: 75px;
  }

    .task-options {
        display: flex;
        justify-content: space-between;
        float: right;
        margin-top: 20px;
    }
  .task-options button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  th:hover {
    background-color: #0056b3;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  footer{
    margin-top: 20px;
    text-align: center;
    color: #666;

  }

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.task.now { background-color: #f8b4b4; }
.task.medium { background-color: #fdf7b4; }
.task.low { background-color: #b4f8b4; }
.task.completed { background-color: gray; color: white; }

